// Footer
.footer-dark {
    background-color: var(--dark);
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: toRem(5)) {
    .footer {
      display: grid;
      grid-template-rows: fit-content(40%);
      grid-gap: toRem(16);
      text-align: center;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: toRem(768)) {
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: toRem(16);
      text-align: left;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: toRem(992)) {
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: toRem(16);
      text-align: left;
    }
  }
  
  .footer {
    color: var(--bright);
    font-size: toRem(15);
    padding: toRem(50);
    
    .links {
      ul {
        padding: 0;
        margin: 0;
      }
    }
    .links ul li {
      list-style-type: none;
      padding: 0;
    }
  
    .links ul li:first-child {
      padding-top: toRem(10);
    }
  
    .copyright {
      line-height: toRem(23);
      ul {
        margin: 0;
        padding: 0;
      }
      ul li {
        display: inline-block;
        list-style-type: none;
        padding: toRem(20) toRem(7) toRem(15);
      }
      ul li:first-child {
        padding-left: 0;
      }
    }
  }
  
  .footer a {
    color: var(--bright);
  }
  