@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@200;400;600;800&display=swap");
@import "./mixins.scss";
@import "./header.scss";
@import "./hero.scss";
@import "./categoryItems.scss";
@import "./button.scss";
@import "./footer.scss";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

:root {
  --dark: #151a1c;
  --bright: #fff;
  --light-grey: #dddddd;
  --primary: #d32b2a;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--primary);
  transition: all .3s ease-in-out;
}

.hide {
  display: none;
}

.show {
  display: block;
}


.menu-icon {
  cursor: pointer;
}

.fw-container {
  max-width: toRem(1200);
  margin: 0 auto;
}

.angle-down svg {
  margin: toRem(-3) toRem(3);
}



/* Small devices (landscape phones, 5px and up) */
@media (min-width: toRem(5)) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: toRem(20);
    font-size: toRem(25);
  }
  .logo-menu-option {
    position: relative;
    border-bottom: toRem(1) solid var(--light-grey);
  }
  .menu-logo img {
    max-width: toRem(120);
    margin: toRem(10);
  }
  .menu-items .flat-menu {
    text-align: center;
    width: inherit;
    margin: 0;
    padding: 0;
  }
  .menu-items .flat-menu li {
    list-style-type: none;
    padding: 0;
    border-bottom: toRem(1) solid var(--light-grey);
  }
  .menu-items .flat-menu li {
    border-bottom: none;
    list-style-type: none;
    padding: toRem(15) 0;
    background-color: var(--light-grey);
  }
  .deep-menu li:last-child {
    border-bottom: none;
  }
  .menu-option {
    position: absolute;
    text-align: center;
    padding: toRem(15);
    font-size: toRem(18);
    display: block;
    width: 100%;
  }
  .menu-option .flat-menu li {
    display: inline-block;
    list-style-type: none;
    padding: 0 toRem(10);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: toRem(768)) {
  .menu-icon {
    display: none;
  }
  .logo-menu-option {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: toRem(1300);
    margin: 0 auto;
    align-items: center;
    position: relative;
  }

  .menu-logo img {
    max-width: toRem(165);
  }

  .menu-items {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .menu-items ul {
    margin: 0;
    padding: 0;
  }

  .flat-menu {
    list-style-type: none;
    margin-left: toRem(-10);
  }
  .menu-items .flat-menu {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .menu-items .flat-menu li {
    border-bottom: none;
    list-style-type: none;
    padding: 0;
    background-color: var(--bright);
  }

  .flat-menu li {
    display: inline-block;
  }

  .flat-menu li a {
    text-decoration: none;
    color: var(--dark);
    display: block;
    width: 100%;
    padding: toRem(10) toRem(16) toRem(14);
  }

  .menu-option {
    position: relative;
  }
  .menu-option .menu-option-item {
    color: var(--dark);
  }

  .deep-menu {
    display: block;
    position: absolute;
    min-width: toRem(300);
    background-color: var(--bright);
    border: 1px solid var(--light-grey);
    transform: translate(-20%, 0%);
    z-index: 1;
  }

  .deep-menu ul li {
    display: block;
    border-bottom: toRem(1) solid var(--light-grey);
  }

  .deep-menu ul li:last-child {
    border-bottom: none;
  }

  .deep-menu li:hover {
    background-color: var(--light-grey);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .menu-icon {
    display: none;
  }
  .logo-menu-option {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: toRem(1300);
    margin: 0 auto;
    position: relative;
  }

  .menu-logo img {
    max-width: toRem(165);
  }

  .menu-items {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .menu-items ul {
    margin: 0;
    padding: 0;
  }

  .flat-menu {
    list-style-type: none;
    margin-left: toRem(-10);
  }
  .menu-items .flat-menu {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu-items .flat-menu li {
    border-bottom: none;
  }
  .flat-menu li {
    display: inline-block;
  }

  .flat-menu li a {
    text-decoration: none;
    color: var(--dark);
    display: block;
    width: 100%;
  }
  .menu-option .flat-menu {
    position: relative;
  }
  .menu-option .menu-option-item {
    color: var(--dark);
  }

  .deep-menu {
    display: block;
    position: absolute;
    min-width: toRem(300);
    background-color: var(--bright);
    border: toRem(1) solid var(--light-grey);
    transform: translate(-20%, 0%);
    z-index: 1;
  }

  .deep-menu ul li {
    display: block;
    border-bottom: toRem(1) solid var(--light-grey);
  }

  .deep-menu ul li:last-child {
    border-bottom: none;
  }

  .deep-menu li a:hover {
    background-color: var(--light-grey);
  }
}

